* {
  color: #ffffff;
  backlight: #000000;
  background-color: transparent;
  font: "{{FONT}} {{ROFI_FONT_SIZE}}";
}

window {
  height: 100%;
  width: 100%;
  x-offset: 0px;
  y-offset: {{BAR_HEIGHT}} px;
  padding: 400px 600px;
  background-color: #252525dd;
}

prompt {
  color: #ffffff;
  foreground-color: #ff0000;
}

element {
    padding: 0px 10px;
}

element.selected.normal {
  border: 0px 0px 0px 1px;
  border-color: #ffffffbb;
}

